/* .search-container{
    position: relative;
    display: inline block;
     margin-left: 100px;
    
    }
    .search-container .search-customer{
        position:absolute;
        height: 50px;
        outline: none;
        border-radius: 6px;
        border:1px solid grey;
        right:20px;
        top:0px;
        font-size:1em;
       }
    
    .account-summery-table{
       min-width:80vw;
       border-spacing:0px;
       margin-top:5px;
       padding-top:60px;
    }
    
    .account-summery-table .header{
    background-color: black;
    color:white;
    height:50px;
    border:none;
    
    
    }
    
    .account-summery-table .table-body tr td{
         text-align: center;
         height:40px;
    }
    
    .account-summery-table .table-body tr:nth-child(odd){
        background-color: ivory;
    }
    .account-summery-table .table-body tr:nth-child(even){
        background-color: AliceBlue;
    }
    
    .pagination-btn{
     margin-top: 10px;
      
    }
    
    .pagination-btn button{
        background-color:#0A2558;
        height:50px;
        width:100px;
        margin-left:3px;
        color:white;
        border:none;
        border-radius: 5px;
        font-weight:900
    
    
    }
      */