.cost-container .cost-form .form-group{
    display: flex;
    width:80vw;
    
    
   
}

.cost-container .cost-form .form-group input{
width:30%;
height: 60px;
background-color:white;
outline: none;
border: 1px solid grey;

}

.cost-container .cost-form .form-group button{
    border: none;
    background-color: #0A2558;
    color:white;
    width:100px;
    border: ipx solid #0A2558 ;

}




