.transaction-form-container{
 margin-top:150px;
 width:80vw;
 margin-left: 10%;

}
.transaction-form-container .header{
     margin-top: 10px;
     box-shadow: 0 6px 6px -6px #777;
     padding-bottom:10px;
}



.transaction-form-container .top{
    margin-top: 100px;}



.transaction-form-container .add-btn button{
color:white;
background-color: #0A2558;
height: 50px;
width: inherit;
border:none;
width:20%;
border-radius: 5px;
margin-top:0px;
font-weight: bold;

}

.transaction-form-container .deposit-form-content{
    width:100%;
    margin-top:20px;
}

.transaction-form-container .deposit-form-content .form-group{
   display: flex;
   width:80vw;
   margin-bottom:10px;
}
.transaction-form-container .deposit-form-content .form-group label{
    width:30%;
    text-align:right;
    margin-right:5%;
    padding-top:5px;
}

.transaction-form-container .deposit-form-content .form-group input,.select{
    width:20%;
    outline: none;
border-radius: 5px;
margin-right: 2px;


}

.transaction-form-container .deposit-form-content .form-group input{
    height: 40px;
    border: 1px solid black;
}
.transaction-form-container .deposit-form-content .form-group .select{
    height: 50px;
    background-color: white;
   
    
}

.transaction-form-container .deposit-form-content .form-group textarea{
  
   
    outline: none;
}

.deposit-form-content button[type="submit"]{

    background-color:#0A2558;
    border-radius: 3px;
    border:1px solid grey;
    height: 50px;
    color:white;
    width:15%;
   
     margin-left:66%; 
    cursor: pointer;
    

}

.deposit-form-content .add-customer-btn{
    background-color:#0A2558;
    color:white;
    width:200px;
    border: none;
    border-radius: 3px;
}