.search-container{
position: relative;
width:80vw;
margin-top:0px;


}


.search-container .search-customer{
    position:absolute;
    height:50px;
    outline: none;
    border-radius: 6px;
    border:1px solid grey;
    right:0px;
    top:0px;
    font-size:1em;
    text-indent: 5px;
   }

.customer-list-table{
   min-width:80vw;
   border-spacing:0px;
   margin-top:2px;
   padding-top:52px;
   max-height: 30vw!important;
}

.customer-list-table .header{
background-color: black;
color:white;
height:45px;
border:none;


}
.customer-list-table .table-body {
    max-height: 200px!important;
    overflow-y: scroll;
}
.customer-list-table .table-body tr{
    max-height: 10px;
    
}

.customer-list-table .table-body tr td{
     text-align: center;
     max-height:10px;
}

.customer-list-table .table-body tr td .action-btn{
  border:none;
  background-color: #0A2558;
  color:white;
  border-radius: 5px;
  height:30px;
  width:50px;
}

.customer-list-table .table-body tr:nth-child(odd){
    background-color: ivory;
}
.customer-list-table .table-body tr:nth-child(even){
    background-color: AliceBlue;
}

.pagination-btn{
 margin-top: 10px;
 margin-left: 33%;
}

.pagination-btn button{
    background-color:#0A2558;
    height:50px;
    width:100px;
    margin-left:3px;
    color:white;
    cursor: pointer;
    border:none;
    border-radius: 5px;
    font-weight:900;
}


